name: build-test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3.0.2
    - uses: actions/setup-node@v3.4.1
      with:
         node-version: '18.x'
    - name: use node
      run: |
       npm install
       npm run action
